.profile-pic {
	max-width: 163px;
	max-height: 163px;
	display: block;
}

.file-upload {
	display: none;
}

.circle {
	border-radius: 1000px !important;
	overflow: hidden;
	width: 175px;
	height: 180px;
	border: 8px solid #FADA5E;
	position: absolute;
}

img {
	max-width: 100%;
	height: auto;
}

.p-image {
	margin: 13%;
	font-size: 25px;
	position: absolute;
	color: black;
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.p-image:hover {
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.upload-button {
	font-size: 1.2em;
}

.upload-button:hover {
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	color: #999;
}